* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--primary-color: #3347B0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 32px;
    background-color: var(--primary-color);
    padding: 0 120px;
    font-size: 24px;
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.sair{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

footer{
    height: 140px;
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 96px;
    font-size: 20px;
}

.contatos{
    display: grid;
    align-items: flex-start;
    justify-items: center;
    gap: 10px;
    font-size: 16px;
}

.contatos div{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    text-align: start;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;   
}